<p>
    Un nouvelle demande de contact a été faite
</p>
<ul>
    <li>
        Nom : {{ data.name }}
    </li>
    <li>
        Email : {{ data.email }}
    </li>
    <li>
        Message : {{ data.message }}
    </li>
</ul>
<p>
    <i>{{ data.message|nl2br }}</i>
</p>